header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #9089B8;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #F8EFE4;
  }
  
  .start-button {
    background-color: #F0A6CA;
    padding: 10px 20px;
    border-radius: 5px;
    color: #EFC3E6;
  }
  