@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.show {
  @apply outline-1 outline-dashed outline-red-500;
}

*,
*::after,
*::before {
  font-family: "DM Sans", sans-serif;
}

.section-title {
  @apply text-4xl font-semibold mb-7;
}

.center-absolutely {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.step > p {
  background-color: #1e9bff;
}

.step:hover > p {
  background-color: #fa8a8c;
  transition: 300ms ease;
}
